@font-face {
    font-family: "Alternity";
    src: url("../font/Alternity-8w7J.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Alternity";
    src: url("../font/AlternityBold-YWl4.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: "Alternity";
    src: url("../font/AlternityItalic-Mm2n.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: "Alternity";
    src: url("../font/AlternityBoldItalic-rpyL.ttf") format("truetype");
    font-weight: bold;
    font-style: italic;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Alternity";
}
body{
    background-color: #0743c4;
    color: #fff;
}
.header{
 width: 100%;
 padding: 20px;
 text-align: center;
 background-color: rgba(255, 255, 255, 0.13);
}
.navigation{
    width: 100%;
    background-color: rgba(255, 255, 255, 0.19);
}
.links{
    display: flex;
    list-style: none;
    margin: auto;
}

.links li a{
    display: block;
    padding: 20px;
    text-decoration: none;
    color: #fff;
    transition: 500ms;
}
#btn-menu{
    margin: 20px;
    padding: 10px;
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: 500ms;
    display: none;
}
.links li a:hover, btn-menu:hover{
 background-color: rgba(255, 255, 255, 0.1);
}
.main{
    width: 90%;
    margin: auto;
    padding: 30px;
}
.row{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.col-card{
    width: 25%;
    margin: auto;
    display: flex;
    flex-direction: column;
}
.card{
    margin: 10px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.2);
}
.card-image{
    margin: auto;
    width: 100%;
    height: 400px;
}
.card-image img{
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 10px;
}
.card-body{
    width: 100%;
    padding: 10px;
}
.card-body p{
    text-align: justify;
}
.footer{
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.13);
    text-align: center;
}
@media (min-width:700px) and (max-width:1024px){
    .main{
        width: 100%;
        padding: 10px;
    }

    .col-card{
        width: calc((4/12) * 100);
    }
}
@media (min-width:400px) and (max-width:699px){
    .links{
        display: none;
    }

    .show{
        display: block;
    }

    .button-display{
        padding: 10px;
        width: 100%;
    }
    #btn-menu{
        display: block;
        margin: 0;
    }
   
    .main{
        width: 100%;
        padding: 10px;
    }

    .col-card{
        width: calc((6/12) * 100);
    }
}
@media screen and (max-width:399px){
    .links{
        display: none;
    }

    .show{
        display: block;
    }

    .button-display{
        padding: 10px;
        width: 100%;
    }
    #btn-menu{
        display: block;
        margin: 0;
    }
   
    .main{
        width: 100%;
        padding: 10px;
    }

    .col-card{
        width: 100%;
    }
}