*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    width: 80%;
    margin: auto;
    padding: 10px;
}
.caja{
    margin: 10px;
    width: 100px;
    height: 100px;
    border-radius: 5px;
    background-color: #ead321;
}
#caja1{
    background-color: #d14a21;
    cursor: pointer;
}
#caja1:hover {
    background-color: #41d121;
    width: 100%;
    transition: 3s;
}
#caja2{
    background-color: #2179d1;
    cursor: pointer;
    transition: background-color 2s, height 2s;
}
#caja2:hover{
    background-color: #ead321;
    height: 150px;
    border: 3px solid #ac8f1a;
}
#caja3{
    background-color: #ab21d1;
    cursor: pointer;
    transition: 3s;
}
#caja3:hover{
    transform: rotate(-45deg);
}
#caja4{
    display: inline-block;
    background: transparent;
}
.item1{
    width: 100px;
    height: 100px;
    background-color: #2b3a9d;
    border-radius: 10px;
    position: absolute;
    transition: transform 0.8s;
}
.item2{
    width: 100px;
    height: 100px;
    background-color: #2b3f53;
    border-radius: 10px;
    position: absolute;
    transition: transform 0.8s;
    &:hover{
        transform: translate(20px, 20px);
    }
}
.botones{
    width: 100%;
    border: 1px solid #2b3a9d;
    padding: 10px;
    border-radius: 5px;
}
.boton1{
    width: 150px;
    height: 30px;
    background-color: #2b3a9d;
    border: 1px solid #2b3a9d;
    border-radius: 5px;
    color: #fff;
    transition: 3s;
    cursor: pointer;
    &:hover{
        transform: rotateX(720deg);
    }
}
#miCaja{
    overflow: hidden;
    width: 0;
    transition: 2s;
}
.boton2{
    width: 150px;
    height: 30px;
    background-color: transparent;
    border: 1px solid #2b9d4d;
    border-radius: 5px;
    color: #fff;
    transition: 2s;
    cursor: pointer;
    &:hover{
        #miCaja{
            padding-top: 7px;
            width: 150px;
            height: 30px;;
            transition: 5s;
            background-color: #33b95b;
            border-radius: 5px;
        }
    }
}